__pycache__/
*.pyc
.DS_Store
.venv/
venv/

data/glyphs/*
!data/glyphs/.gitkeep
models/*
!models/.gitkeep
fonts/*
!fonts/.gitkeep
outputs/*
!outputs/.gitkeep

*.svg
!template.svg
template.json
scan.png
